.portfolio_img {
    width: 100%;
    border-radius: 10px;
}
.bar {
    height: 30px;
}
.barra {
    height: 3px;
    width: 60px;
    background-color: white;
}
.barra_2 {
    background-color: black;
}
.form_freelancer .form-control {
    border:none;
    border-bottom: 1px solid lightgray;
}
